h1,
h2 {
    font-family: "Sofia", sans-serif;
    background: rgb(2, 0, 36);
}

table,
th,
td {
    border: 1px solid black;
    color: black;
}

td {
    text-align: center;
}

.total {
    margin: auto;
    width: 50%;
}

.mainTable {}